body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background-color: #f9f9f9;
  color: #b3964e;
  font-family: 'Roboto', sans-serif;
  font-size: 28px; }
  body header > * {
    display: table-cell;
    width: 50%;
    font-size: 35px; }
  body header {
    padding: 0 20px;
    display: table;
    width: 1110px;
    margin: 40px auto; }
    body header .serch {
      text-align: right; }
      body header .serch a {
        color: #b3964e; }
  body .container {
    margin: 0 auto;
    width: 1110px; }
  body .head_info > * {
    display: inline-block;
    vertical-align: top;
    text-align: center; }
  body .head_info {
    padding: 0 0 150px; }
    body .head_info .head_text {
      margin: 0 -50px 0 0;
      width: 480px;
      position: relative;
      z-index: 2;
      text-align: right; }
      body .head_info .head_text h1 {
        font-size: 105px;
        text-align: right;
        margin: 0 0 120px; }
      body .head_info .head_text button {
        cursor: pointer;
        margin: 0 100px 0 0;
        display: inline-block;
        width: 110px;
        border: 1px solid #b3964e;
        line-height: 110px;
        background: #f9f9f9;
        font-size: 40px;
        color: #b3964e; }
    body .head_info .head_img {
      position: relative;
      margin: 50px 0 0; }
      body .head_info .head_img .head_overlay {
        border: 1px solid #b3964e;
        width: 430px;
        height: 545px;
        position: absolute;
        bottom: 80px;
        right: -50px;
        z-index: -1; }
  body .difrent_bg {
    background-color: #fff; }
    body .difrent_bg .about_me {
      padding: 150px 0 150px; }
      body .difrent_bg .about_me .img_section {
        display: inline-block;
        width: 369px; }
      body .difrent_bg .about_me .text_section {
        margin: 0 0 0 -30px;
        vertical-align: top;
        width: 750px;
        display: inline-block; }
        body .difrent_bg .about_me .text_section h2 {
          padding: 0 0 100px;
          font-size: 48px;
          font-weight: 300; }
        body .difrent_bg .about_me .text_section p {
          font-size: 24px;
          font-weight: 300;
          padding: 0 0 0 90px;
          line-height: 45px; }
  body .content {
    padding: 145px 0; }
    body .content h3 {
      margin: 0 0 100px 240px;
      font-weight: 300;
      font-size: 48px; }
      body .content h3 span {
        font-size: 72px; }
    body .content .content_left > * {
      display: inline-block; }
    body .content .content_left {
      margin: 0 0 50px; }
      body .content .content_left .text_section {
        padding: 0 0 0 45px;
        text-align: right;
        width: 640px;
        vertical-align: bottom;
        font-weight: 300;
        line-height: 35px; }
        body .content .content_left .text_section p {
          text-align: left;
          padding: 0 0 60px; }
        body .content .content_left .text_section a {
          text-decoration: none;
          color: #b3964e;
          text-align: right;
          padding: 0 0 10px;
          border-bottom: 1px solid #b3964e; }
      body .content .content_left .img_section {
        position: relative; }
        body .content .content_left .img_section .overlay {
          position: absolute;
          width: 365px;
          height: 546px;
          border: 1px solid #b3964e;
          top: 75px;
          left: 80px;
          z-index: -1; }
    body .content .content_right > * {
      display: inline-block; }
    body .content .content_right {
      margin: 0 0 50px; }
      body .content .content_right .img_section {
        position: relative; }
        body .content .content_right .img_section .overlay {
          position: absolute;
          width: 365px;
          height: 546px;
          border: 1px solid #b3964e;
          top: 75px;
          right: 80px;
          z-index: -1; }
      body .content .content_right .text_section {
        padding: 0 45px 0 0;
        text-align: right;
        width: 640px;
        vertical-align: bottom;
        font-weight: 300;
        line-height: 35px; }
        body .content .content_right .text_section p {
          text-align: left;
          padding: 0 0 60px; }
        body .content .content_right .text_section a {
          text-decoration: none;
          color: #b3964e;
          text-align: right;
          padding: 0 0 10px;
          border-bottom: 1px solid #b3964e; }
    body .content .add {
      text-align: center; }
      body .content .add button {
        font-size: 85px;
        font-weight: 300;
        color: #b3964e;
        background-color: #f9f9f9;
        cursor: pointer; }
  body footer {
    background-color: #fff;
    padding: 145px;
    text-align: center;
    font-weight: 300; }
